/* Variables and mixins declared here will be available in all other SCSS files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bg-color: #1A1B26;
$second-bg-color: #24283B;
$primary-color: #2AC3DE;
$link-color: #f7768e;
$logo-color: #73daca;
$txt-color: #7DCFFF;
$important-txt-color: #ffffff;
